body {
  background-color: black;
  color: white;
}

#top {
  display: flex;
  justify-content: space-between;
  margin-left: 25%;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 50%;
}

.topSection {
  padding: 10px;
  text-align: center;
}

#inputBoxes,
#visualizationBoxes {
  .row {
    display: flex;

    .verticalSection {
      margin-left: 5px;
      margin-right: 5px;
      display: flex;

      input,
      div {
        background-color: grey;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
        border: 1px solid black;
        padding: 1px;

        &.vCell {
          &.locked {
            background-color: #009900;
          }

          &.assigned {
            background-color: #000099;
          }

          &.failedToAssign {
            background-color: #990000;
          }
        }


        //For disabling the arrows
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        //For disabling the arrows
        &[type=number] {
          -moz-appearance: textfield;
        }
      }
    }
  }

  .horizontalSection {
    height: 10px;
  }
}

#controls {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 60px;
}