body {
  background-color: black;
  color: white;
  font-family: monospace;
}

#content {
  margin: auto;
  width: fit-content;

  h1 {
    text-align: center;
  }
}

#top {
  display: table;
  width: 413px;
  margin: auto;
}

.topSection {
  padding: 10px;
  text-align: center;
}

#inputBoxes,
#visualizationBoxes {
  width: 326px;
  margin: auto;

  .row {
    display: flex;

    .verticalSection {
      margin-left: 5px;
      margin-right: 5px;
      display: flex;

      input,
      div {
        background-color: grey;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
        border: 1px solid black;
        padding: 1px;

        &.vCell {
          &.locked {
            background-color: #009900;
          }

          &.assigned {
            background-color: #000099;
          }

          &.failedToAssign {
            background-color: #990000;
          }

          &.logicalFoundOption {
            background-color: #A200FF;
          }

          &.logicalFoundSecondOption {
            background-color: #FFC200;
          }
        }


        //For disabling the arrows
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        //For disabling the arrows
        &[type=number] {
          -moz-appearance: textfield;
        }
      }
    }
  }

  .horizontalSection {
    height: 10px;
  }
}

#controls {
  margin-top: 10px;

  button {
    width: 90px;
    height: 30px;
    border-radius: 0px;
    outline: none;
    border: none;

    &:disabled {
      background-color: #990000;
      color: white;
    }

    &:not(:disabled) {
      background-color: #009900;
      color: black;
    }
  }
}

#textOutput {
  margin: auto;
  width: fit-content;

  &:not(.displayNone) {
    display: flex;
  }

  > div {
    border: 1px solid white;
    padding: 0px 15px 15px;
    min-width: 120px;
  }
}

span.val {
  color: #E304E3;
}

//Link back
a {
  width: 100%;
  text-align: center;
  bottom: 10px;
  text-decoration: underline;
  position: absolute;

  &:visited,
  &:hover,
  &:active,
  &:link {
    color: white;
  }
}


//Shared
.displayNone {
  display: none;
}