body {
  background-color: black;
  color: white;
  font-family: monospace;
  text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  margin: 0;
}

#content {
  margin: auto;
  width: fit-content;
  min-height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
  }
}

#top {
  display: table;
  width: 413px;
  margin-left: auto;
  margin-right: auto;
}

.topSection {
  padding: 10px;
  text-align: center;
}

#inputBoxes,
#visualizationBoxes {
  margin: auto;

  .row {
    display: flex;

    .verticalSection {
      margin-left: 5px;
      margin-right: 5px;
      display: flex;

      input,
      div {
        background-color: grey;
        width: 2em;
        height: 2em;
        text-align: center;
        line-height: 2em;
        font-size: 1em;
        border: 1px solid black;
        padding: 1px;

        &.vCell {
          &.locked {
            background-color: #009900;
          }

          &.assigned {
            background-color: #000099;
          }

          &.failedToAssign {
            background-color: #990000;
          }

          &.logicalFoundOption {
            background-color: #A200FF;
          }

          &.logicalFoundSecondOption {
            background-color: #FFC200;
          }
        }


        //For disabling the arrows
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        //For disabling the arrows
        &[type=number] {
          -moz-appearance: textfield;
        }
      }
    }
  }

  .horizontalSection {
    height: 10px;
  }
}

#controls {
  margin-top: 10px;

  label {
    display: block;
  }

  input, select {
    font-size: 1em;
  }

  input[type=checkbox] {
    width: 1em;
    height: 1em;
  }

  button {
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 0px;
    outline: none;
    border: none;

    &:disabled {
      background-color: #990000;
      color: white;
    }

    &:not(:disabled) {
      background-color: #009900;
      color: black;
    }
  }
}

#textOutput {
  margin: auto;
  width: fit-content;

  &:not(.displayNone) {
    display: flex;
  }

  > div {
    border: 1px solid white;
    padding: 0px 15px 15px;
    min-width: 120px;
  }
}

span.val {
  color: #E304E3;
}


#footerWrapper {
  flex-grow: 1;
  min-height: 2em;

  //Link back
  a {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 1em;
    position: absolute;
    bottom: 0;

    &:visited,
    &:hover,
    &:active,
    &:link {
      color: white;
    }
  }
}

//Shared
.displayNone {
  display: none !important;
}

body:not(.mobile) {
  font-size: 14px;
  line-height: 25px;

  #inputBoxes,
  #visualizationBoxes {
    width: 318px;
  }
}

body.mobile {
  font-size: 38px;
  line-height: 56px;

  #inputBoxes,
  #visualizationBoxes {
    width: 750px;
  }
}